body {
  background-color: #f2f2f2;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #3e939e;
  font-weight: normal;
  font-size: 3rem;
}

form {
  justify-content: center;
  text-align: center;
}

ul {
  color: #3e939e;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  list-style: decimal;
}
